@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model FeatureFolder.Features.Blocks.List.ListBlock

    <ul>
        @for (int i = 1; i <= 5; i++)
        {
            <li>@i</li>
        }
    </ul>