@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model FeatureFolder.Features.Blocks.List.ListBlock

    <ul>
        <li>9</li>
        <li>9</li>
        <li>9</li>
        <li>9</li>
        <li>9</li>
    </ul>